{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "add-module-exports",
    [
      "transform-builtin-extend",
      {
        "globals": [
          "Error",
          "Array"
        ],
        "approximate": true
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
