{
  "presets": [
    "@babel/env",
    ["@babel/stage-2", {
      "decoratorsLegacy": true
    }],
    "@babel/typescript"
  ],
  "plugins": [
    "add-module-exports",
    ["transform-builtin-extend", {
      "globals": ["Error", "Array"],
      "approximate": true
    }]
  ]
}
